
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>THÔNG TIN VỀ SHOP</h3>
<br>

<div class="row">
    <div class="col-md-12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1196773645574!2d106.71277631422664!3d10.802144992304063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528a459cb43ab%3A0x6c3d29d370b52a7e!2zxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00gLSBIVVRFQ0g!5e0!3m2!1svi!2sus!4v1475398597706" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div style="font-size: 18px; font-weight: bold;" class="col-md-12">
        <ul>
            <br>
            <li>Địa Chỉ: 123 Điện Biên Phủ, TP.HCM</li>
            <br>
            <li>SĐT: 111 222 333</li>
            <br>
            <li>TK Ngân Hàng: 123456789</li>
        </ul>
    </div>
    </div>