
@{
    ViewBag.Title = "chuaDN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div style="color: red">
        <h3>Bạn phải đăng nhập để lấy thông tin thanh toán !</h3>
    </div>

    <br />

    <a href="@Url.Action("DangnhapDangky","KhachHang")" class="btn btn-success ">
        <span class="glyphicon glyphicon-home"></span><b> đến trang Đăng nhập/ Đăng ký</b>
    </a>
</center>