
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
        <h3 style="color: red">Đã xác nhận đơn hàng, chúng tôi sẽ liên hệ và giao hàng cho bạn trong thời gian ngắn nhất !</h3>

    <br />

    <a href="@Url.Action("Index","Home")" class="btn btn-success ">
        <span class="glyphicon glyphicon-home"></span><b> trở về Trang Chủ</b>
    </a>
</center>