
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>TIN TỨC MỚI NHẤT</h3>

<br />

    <script id="feed-1475409606596998" type="text/javascript" src="http://rss.bloople.net/?url=http%3A%2F%2Fvnexpress.net%2Frss%2Ftin-moi-nhat.rss&showtitle=false&type=js&id=1475409606596998"></script>