
@{
    ViewBag.Title = "ChuaCoSP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <div style="color: red">
        <h2>Giỏ hàng trống !</h2>
    </div>

    <br />

        <a href="@Url.Action("Index","Home")" class="btn btn-success ">
        <span class="glyphicon glyphicon-home"></span><b> trở về Trang Chủ</b>
        </a>
</center>